{
  "extends": ["@vue/standard", "plugin:vue/vue3-recommended", "taro/vue3"],
  "rules": {
    "no-console": "off",
    "no-debugger": "off",
    "vue/max-attributes-per-line": ["error", { "singleline": 3 }],
    "vue/max-len": ["error", { "code": 120, "ignoreStrings": true }],
    "vue/singleline-html-element-content-newline": "off",
    "vue/multi-word-component-names": "off",
    "vue/require-default-prop": "off"
  },
  "globals": {
    "wx": true,
    "Taro": true,
    "Page": true,
    "definePageConfig": true,
    "getCurrentPages": true
  }
}
